nav{
    font-family: 'Showcard Gothic';
    display: flex;
    align-items: left;
    padding-top: 5px;

}

.logo-container{
    padding-left: 10px;
    background-color: white;
}

.logo-container img{
    max-height: 50px;
    position: relative;
}

#img-icon{
    display: none;
}
.nav-content{
    padding-left: 30px;
}

.nav-content span{
padding: 15px;
}

.nav-content a{
    color: black;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.nav-content a:hover{
    color: red;
    background-color: yellow;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/** Responsive*/
@media (max-width:820px) {
    nav{
        display:inline-block;
        width: 100%;
    }
    .checkbtn {
        display: block;
        position:absolute;
        padding-left: 5%;
        padding-top: -5px;
    }
    .logo-container{
        padding-left: 45%;
    }
    
    #img-complete{
        display:none;
        
    }
    .logo-container{
        padding-top: 15px;
        width: 75px;
        height: 75px;
    }
    .logo-container img{
        transform: scale(1.5);
    }

    #img-icon{ 
        display: block; 
    }
    .nav-content{
        width: 100%;
        display: none;
        
    }
    .nav-content a{
        transition-duration: 0.3s;
        font-size: 20px;
    }
    .nav-content a:hover{
        color: red;
        background-color: yellow;
    }

    #check:checked~.nav-content {
        display:list-item;            
    }


}